/* page */
* {
  box-sizing: border-box;
  margin: 0;
} 

/* background, pink smokes */
.hero-section {
  height: 280vh;
  text-align: center;
  background-image: url(https://images.unsplash.com/photo-1559251606-c623743a6d76?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80);
  /*background: linear-gradient(-180deg, rgb(252, 222, 222), rgb(238, 134, 134)); , just in case if image doesn't work */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* content */
.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80%;

  font-size: 1.4em;
  letter-spacing: 9px;
  align-items: center;
}

/* logo(home button) */
.home {
  width: 72%;
  display: flex;
  margin-left: 50px;

}

.logo {
  display: block;
  margin-top: -8px;
  margin-left: -40px;
  width: 270px;
}

/* hero section texts */
h1 {
  margin: 28rem 0 2rem 0;
  
  font-family: 'Sansita Swashed', cursive;
  font-size: 120px;
  font-weight: 900;
  color: rgb(212, 111, 120);
  text-shadow: 4px 4px rgb(26, 25, 25);
}

h2 {
  font-size: 90px;
  font-family: 'Homemade Apple', cursive;
  color: rgb(243, 207, 210);
  text-shadow: 4px 4px rgb(48, 49, 49);
  
}

.tagline {
  font-family: 'Special Elite', cursive;
  font-size: 2.2rem;
  padding: 5px;
  margin-top: 80px;
  margin-bottom: 30px;
}

p {
  display: flex;
  justify-content: center;

  max-width: 80ch;
  padding: 40px;

  color:rgb(0, 0, 0);
  font-size: 24px; 
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 5px;
  line-height: 50px;
  
 }

 /* navigation bar */
nav {
  display: flex;
  padding: 1.5em 1.5em;
  background-color: rgba(234, 252, 255, 0.479);
  transition: all .3s;
}

nav:hover {
  background-color: rgb(228, 251, 255);
}

nav ul {
  display: flex;
  justify-content: space-between;
  margin: auto;
  
  font-family: 'Quicksand', serif;
  font-size: 20px;

	list-style: none;
}

li {
  margin-right: 15px;
}

.nav-bar {
 color: rgb(53, 47, 47)
}

.nav-bar:hover {
  color: #bb5656;
}

/* register button */
.register {
  color: black;
  text-shadow: 2px 1px rgb(255, 255, 255);
  background-color: rgb(255, 170, 183);
  
  padding: 12px;
  border-radius: 8px;
  transition: all .2s;
}

.register:hover {
  color: rgb(246, 180, 184);
  text-shadow: 2px 1px rgb(107, 106, 106);
  background-color: black;
}

/* image of bong at the bottom */
.bong {
  width: 300px;
  margin-bottom: -400px;
}

/* logo on the bottom */
.bottom {
  width: 200px;
  margin-top: 420px;
}

/* footer */
footer {    
  margin-top: auto;
  padding: 11px;

  font-family: Verdana, sans-serif;
  font-size: 19px;  
  color: rgb(47, 37, 37);
  text-align: center;
  background-color: rgb(217, 238, 245);  
}

/* media queries for mobile */
@media (max-width: 800px) {
  .hero-section {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    width: 100%;
  }

  .hero-text {
    margin-top: -200px;
  }

  nav {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
  }